pipeline/createTable getFields.json
{
	"name": "createTable getFields",
	"properties": {
		"description": "Get fields of a given Salesforce Object and store them in Snowflake META.LOAD.T_SALESFORCE_FIELDS",
		"activities": [
			{
				"name": "get object description",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "https://azilen.lightning.force.com/services/data/v53.0/sobjects/@{pipeline().parameters.object}/describe/",
						"type": "Expression"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "Bearer @{variables('token')}",
							"type": "Expression"
						}
					},
					"authentication": {
						"type": "Basic",
						"username": "sunil.makwana-60rc@force.com"
					}
				}
			},
			{
				"name": "delete from FIELDS",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Snowflake",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "DELETE FROM META.LOAD.T_SALESFORCE_FIELDS\nWHERE OBJECT = '@{pipeline().parameters.object}'",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "exclude selected fields",
				"description": "Excluding fields contained in the REST API, but not delivered through BULK API",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "get object description",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get object description').output.fields",
						"type": "Expression"
					},
					"condition": {
						"value": "@not(equals(item().type, 'address'))",
						"type": "Expression"
					}
				}
			},
			{
				"name": "for each field",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "exclude selected fields",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('exclude selected fields').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "append value",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "set ordinal_position",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "values",
								"value": {
									"value": "('@{pipeline().parameters.object}', '@{replace(item().name, '''', '\\''')}', '@{replace(item().label, '''', '\\''')}', '@{item().type}', @{item().length}, @{item().scale}, @{item().precision}, @{item().custom}, '@{item().externalId}', @{int(variables('ordinal_position'))})",
									"type": "Expression"
								}
							}
						},
						{
							"name": "set ordinal_position",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "ordinal_position",
								"value": {
									"value": "@string(length(variables('values')))",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "insert into FIELDS",
				"description": "META.LOAD.T_SALESFORCE_FIELDS",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "delete from FIELDS",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "for each field",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Snowflake",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "INSERT INTO META.LOAD.T_SALESFORCE_FIELDS (OBJECT, NAME, LABEL, TYPE, LENGTH, SCALE, PRECISION, CUSTOM, EXTERNALID, ORDINAL_POSITION)\nVALUES @{join(variables('values'), ', ')}",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"object": {
				"type": "string",
				"defaultValue": "User"
			},
			"token": {
				"type": "string",
				"defaultValue": " "
			}
		},
		"variables": {
			"fieldName": {
				"type": "String"
			},
			"emptyBody": {
				"type": "String",
				"defaultValue": "{}"
			},
			"values": {
				"type": "Array"
			},
			"ordinal_position": {
				"type": "String"
			},
			"token": {
				"type": "String"
			}
		},
		"folder": {
			"name": "salesforce/createTable"
		},
		"annotations": []
	}
}