pipeline/replicateFromOnPrem.json
{
	"name": "replicateFromOnPrem",
	"properties": {
		"activities": [
			{
				"name": "get Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SnowflakeSource",
						"query": "select * from META.LOAD.t_adventureWorksTables;",
						"exportSettings": {
							"type": "SnowflakeExportCopyCommand"
						}
					},
					"dataset": {
						"referenceName": "sf_query",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "For Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get Tables').output.value",
						"type": "Expression"
					},
					"batchCount": 5,
					"activities": [
						{
							"name": "Copy to blob",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Delete from ADLS",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@item().LOADQUERY",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"isolationLevel": "Snapshot",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SQL_Information_Schema_Query",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "adls_adventurework_delimated",
									"type": "DatasetReference",
									"parameters": {
										"Folder": {
											"value": "@{item().SOURCESCHEMA}/@{item().SOURCETABLE}",
											"type": "Expression"
										},
										"File": {
											"value": "@concat(item().SOURCETABLE,'_',formatDateTime(pipeline().TriggerTime,'yyyy-MM-dd_HH-mm-ss'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete from ADLS",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "adls_adventurework_del",
									"type": "DatasetReference",
									"parameters": {
										"Folder": {
											"value": "@{item().SOURCESCHEMA}/@{item().SOURCETABLE}/",
											"type": "Expression"
										}
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv.gz",
									"enablePartitionDiscovery": false
								}
							}
						},
						{
							"name": "Truncate RAW Tables",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "Snowflake",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "TRUNCATE TABLE @{item().TARGETDATABASE}.@{item().TARGETSCHEMA}.@{item().TARGETTABLE}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Copy to Snowflake",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Truncate RAW Tables",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "Copy to blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"scripts": [],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}